<div class="eqLogic eqLogic-widget fullyKiosK allowResize allowReorderCmd" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-category="#category#">
    <center class="widget-name" style="padding-right: 0px;"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#<span style="font-size: 0.85em;position: relative;top:-2px;display:none;" class="object_name">#object_name#</span></a>


	<span class="cmd refresh cursor pull-right" data-cmd_id="#refresh_id#" >
		<i class='fas fa-sync' style="font-size : 0.9em;float:right;"></i>
	</span>  

	<span class="cmd modelconfig  pull-right cursor" data-cmd_id="#refresh_id#" >
		<i class='fas fa-cogs' style="font-size : 1.3em;float:right;padding-right:20px;margin-top:5px"></i>
	</span>
	<span class="cmd getCamshot  pull-right cursor " data-cmd_id="#refresh_id#" >
		<i class='fas fa-camera' style="font-size : 1.3em;float:right;padding-right:1px;margin-top:5px"></i>
	</span>
	<span class="cmd getScreenshot pull-right cursor" data-cmd_id="#refresh_id#" >
		<i class='fas fa-tablet' style="font-size : 1.3em;float:right;padding-right:2px;margin-top:5px"></i>
	</span>
    </center>
	<div class="#isVerticalAlign#">
		<center>
			#cmd#
		</center>
	</div>

	

	<span class="statusCmd" style="position : absolute;left : 35px;bottom : 0px; width : 40px;z-index: 1030;"></span>
	<script>

		if ('#refresh_id#' != ''){	+
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {	
				jeedom.cmd.execute({id: '#refresh_id#'});	
			});	
		}else{	
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();	
		}
		$('.fullyKiosK[data-eqLogic_id=#id#] .modelconfig').off().on('click', function () {
  			window.open('http://#ipaddress#:2323/');
		});
		$('.fullyKiosK[data-eqLogic_id=#id#] .getCamshot').off().on('click', function () {
		 var uri =  "http://#ipaddress#:2323/?cmd=getCamshot&pwd=#password#";
		 var source = encodeURI(uri);
		 $('#md_modal').load('index.php?v=d&plugin=fullyKiosK&modal=modal.camShotDisplay&src=' + source).dialog('open');
		});		
		$('.fullyKiosK[data-eqLogic_id=#id#] .getScreenshot').off().on('click', function () {
			var uri =  "http://#ipaddress#:2323/?cmd=getScreenshot&password=#password#";
		        var source = encodeURI(uri);
			$('#md_modal').load('index.php?v=d&plugin=fullyKiosK&modal=modal.camShotDisplay&src=http://#ipaddress#:2323/?cmd=getScreenshot\&pwd=#password#').dialog('open');
		});		

	</script>
</div>
